:root{
  --one : #85a26a;
  --one_white : #85a26a85;
  --two : white;
  --three : rgb(32, 33, 36);
  --four : white;
  --gray : #606261;
  --borderColor : rgba(127, 127, 127, 0.493);
  --hoverColor : #d3d4d5;
  --borderB5 : #dee2e6;
}
body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
button {
  border:none
}
.close:hover{
  cursor: pointer;
}
p,h1,h2,h3,h4,h5,h6{
  margin-bottom: 0px !important;
}
.my_alert{
   width: 300px;
   position: absolute;
   bottom: 1rem;
   left: 1rem;
   background-color: #85a26a;
   color: white;
}
@media screen and (max-width : 500px){
   .my_alert{
      width: 100%;
   }
}