/*pub card*/
.pub {
    width: 300px !important;
    height: 450px;
    flex-shrink: 0; 
    margin-right: 10px; 
    scroll-snap-align: start;
    position: relative;
}

.pub img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pub > div {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
/* daily card */
.daily{
    width: 300px !important;
    height: 450px;
    flex-shrink: 0; 
    margin-right: 10px; 
    scroll-snap-align: start;
    position: relative;
}
.daily img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.daily div{
    height: 50%;
}
/*ecard*/
.ecard{
    width: 300px !important;
}
.ecard img{
    width: 100%;
    height: 65%;
}
.ecard div{
    height: 35%;
}
@media screen and (max-width:950px) {
    .pub , .daily{
        width: 280px;
    }
}
@media screen and (max-width : 768px){
    .ecard{
        width: 150px !important;
    }
    .ecard img{
        width: 100%;
        height: 50%;
    }
    .ecard small{
        font-size: 10px;
    }
    .ecard :where(h6,p){
        font-size: 14px;
    }
    .ecard div {
        height: 50%;
    }
}
@media screen and (max-width:500px) {
    .pub , .daily{
        width: 100%;
    }
}