.couv{
    height: 650px;
}

.couv div div:nth-child(2) > div{
    width : 550px;
    height : auto;
}
.couv div:nth-child(2) > div img{
    width: 100%;
    height: 100%;
}
.couv .part_one button{
    background-color: white;
    border: 2px solid var(--one);
    color: var(--one);
}
.couv .part_two{
    position: relative;
    z-index: 1;
}
.couv .part_two .glass{
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
}
.couv .part_two .black{
    position: absolute;
    bottom: -1;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #202124;
    backdrop-filter: blur(10px);
}