/*couv part */
.couv{
    height: 635px;
}
.couv :where(.part_one,.part_one){
    width: calc(100%/2);
}
.couv .part_two .div_img{
    width: 80%;
    height: 80%;
    position: relative;
}
.couv .part_two .div_img img{
    width: 100%;
    height: 100%;
}
.couv .part_two .div_img .glass{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    font-weight:500 !important;
}
.couv .part_two .div_img .black{
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: -15rem;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.377);
    backdrop-filter: blur(10px);
}
/* init part*/
.init_pro .cards {
    width: 100%;
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
}
/*about_part*/
.about_part .part_one .div_img{
    position: relative;
    width: 50%;
    height: 400px;
}
.about_part .part_one .div_img img{
    width: 100%;
    height: 100%;
}
.about_part .part_one img:nth-child(2){
    width: 100%;
    height: 400px;
}
.cat1,.cat2{
    transition: 0.5s;
}
.cat1:hover ,.cat2:hover{
    box-shadow: 5px 5px 15px rgb(88, 88, 88);
}
/* footer */
.footer a{
    width: 50px;
    height: 50px;
    background-color: #292a2d;
}
footer a:hover{
    background-color: rgba(75, 76, 79, 0.49)
}

/*responsive*/
@media screen and (max-width: 950px){
    .couv{
        flex-wrap: wrap;
    }
    .couv :where(.part_one,.part_one){
        width: 100%;
    }
    .couv .part_two .black {
        display: none;
    }
}
@media screen and (max-width: 768px){
    .couv .part_two :where(.glass,.black){
        display: none;
    }
    .couv .part_two .div_img{
        width: 100%;
        height: 100%;
    }
}